---
---

$menu-item-padding: 12px;
$menu-item-margin: 6px;

* {
  margin: 0;
  padding: 0;
}

*:focus {
    outline: 0;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Open Sans';
  background-color: #f9f9f9;
  position: absolute;
  width: 100%;
  height: 100%;
}

body,
a,
a:visited {
  color: #3f4444;
}

.label:after {
	content: ': ';
	margin-right: 9px;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
}

ul#menu {
  position: absolute;
  list-style-type: none;
  z-index: 999;
  pointer-events: none;
}

ul#menu li {
  margin: $menu-item-margin 0;
}

ul#menu li div.container {
	display: inline-block;
  background-color: white;
  /*padding: 10px 10px 10px 20px;*/
	padding: $menu-item-padding;
	box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);

/*	border-style: solid solid solid none;
	border-color: rgba(0, 0, 0, 0.2);
	border-width: 1px;*/
	border-radius: 0 2px 2px 0;
  pointer-events: auto;
}

#header {
  max-width: 420px;
}


#header h1 {
	font-size: 30px;
  border-bottom-color: {{ site.data.style.1st_color }};
  border-bottom-width: 4px;
  border-bottom-style: solid;
  margin-bottom: $menu-item-padding;
}

.buttonset {
	display: inline;
}

.buttonset input[type=radio],
.buttonset input[type=checkbox] {
  display: none;
}

.buttonset label {
	padding: 2px 9px;
}

.buttonset input[type=radio] + label,
.buttonset input[type=checkbox] + label {
	/*text-decoration: line-through;*/
	color: #ddd;
	cursor: pointer;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
}

.buttonset input[type=radio]:checked + label,
.buttonset input[type=checkbox]:checked + label {
	text-decoration: none;
  background-color: {{ site.data.style.1st_color }};
  color: white;
}

input[type='range'] {
	cursor: pointer;
	-webkit-appearance: none;
	border-radius: 5px;
/*	box-shadow: inset 0 0 5px #333;*/
	background-color: #999;
	height: 2px;
	vertical-align: middle;
}

input[type='range']::-moz-range-track {
	-moz-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
  background-color: {{ site.data.style.1st_color }};
	height: 2px;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 2px;
	background-color: {{ site.data.style.1st_color }};
	box-shadow: none;
	border: none;
	height: 12px;
	width: 12px;
}

input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 2px;
	background-color: {{ site.data.style.1st_color }};
	box-shadow: none;
	border: none;
	height: 12px;
	width: 12px;
}

input + label {
  margin-left: 6px;
}

.home {
  fill: #000000;
  fill-opacity: 1;
  stroke: #000000;
  stroke-width: 12;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
}

/* TODO: move to otpalayer.css */

#isochrone-pattern {
  fill: none;
  stroke: {{ site.data.style.1st_color }};
  stroke-width: 2;
}
