---
---
<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
    <title>Naar school in Amsterdam</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <link href='{{ site.baseurl }}/css/leaflet.css' rel='stylesheet' />
    <link rel="icon" type="image/png" href="images/icon.png" />
    <script src='{{ site.baseurl }}/js/leaflet.js'></script>
    <script src="{{ site.baseurl }}/js/jquery-2.1.3.min.js"></script>
    <script src="{{ site.baseurl }}/js/turf.min.js"></script>
    <script src='{{ site.baseurl }}/js/leaflet-hash.js'></script>
    <script src='{{ site.baseurl }}/js/OTPALayer.js'></script>
    <script src='{{ site.baseurl }}/js/LocationLayer.js'></script>
  </head>
  <body>
    <ul id="menu">
      <li><div class="container" id="header">
        <h1>Naar school in Amsterdam</h1>
        <span>Reistijd naar alle middelbare scholen in Amsterdam, met 't OV, per fiets en te voet. <b>Verplaats 't huisje naar uw eigen adres om te beginnen</b>. Ontwikkeld door <a href="http://waag.org">Waag Society</a> met behulp van <a href="http://citysd.waag.org/">CitySDK</a>, <a href="http://www.opentripplanner.org/">OpenTripPlanner</a> en data van de <a href="http://www.ib-groep.nl/organisatie/open_onderwijsdata/">Dienst Uitvoering Onderwijs</a> (2014). OpenTripPlanner verkiest OV boven fietsen en lopen (en lopen boven fietsen), en houdt geen rekening met stoplichten! Broncode op <a href="https://github.com/waagsociety/scholen">GitHub</a>.</span>
			</div></li>
      {% for filter in site.data.filters %}
      <li><div class="container">
        <span class="label">{{ filter.title }}</span>
        {% if filter.type == 'range' %}
				<input id="filter-{{ filter.name }}" type="{{ filter.type }}" name="filter-{{ filter.name }}"
              value="{{ filter.config.value }}" min="{{ filter.config.min }}" max="{{ filter.config.max }}" step="{{ filter.config.step }}">
        <label for="filter-{{ filter.name }}">{{ filter.config.value }}</label> <span>{{ filter.config.units }}</span>
        {% elsif filter.type == 'checkbox' %}
        <div class="buttonset">
          {% for option in filter.config.options %}
  				<input type="{{ filter.type }}" name="filter-{{ filter.name }}" checked="checked" id="filter-{{ filter.name }}{{ forloop.index }}" value="{{ option.value }}">
          <label for="filter-{{ filter.name }}{{ forloop.index }}">{{ option.title }}</label>
          {% endfor %}
        </div>
        {% endif %}
      </div></li>
      {% endfor %}
    </ul>
    <div id="map"></div>
    <script>
      var endpoint = '{{ site.data.otpa.endpoint }}',
          pointset = '{{ site.data.otpa.pointset }}',
          indicator = '{{ site.data.otpa.indicator }}',
          indicators = {};

  		var map = L.map('map', {
        zoomControl: false,
  			minZoom: 10,
  			maxZoom: 18
  		});

      var otpaLayer;

  		var tileUrl = '{{ site.data.map.tiles }}',
          tileLayer = L.tileLayer(tileUrl, {
            attribution: '{{ site.data.map.attribution }}',
            subdomains: '{{ site.data.map.subdomains }}'
          }).addTo(map);

      // TODO: decide whether to use Leaflet Hash
      //var hash = new L.Hash(map);

      var center = [52.37278, 4.90032];
      map.setView(center, 13);
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var point1 = {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [4.8817, 52.3610]
            }
          };

          var point2 = {
            type: "Feature",
            geometry: {
              type: "Point",
              coordinates: [position.coords.longitude, position.coords.latitude]
            }
          };

          var distance = turf.distance(point1, point2, 'kilometers');
          if (distance < 15) {
            center = [position.coords.latitude, position.coords.longitude];
          }

          initializeOtpaLayer(center);
          map.panTo(center);
        });
      } else {
        initializeOtpaLayer(center);
      }

      {% for filter in site.data.filters %}
      {% if filter.type == 'range' %}
      $("#filter-{{ filter.name }}").on("input", function(e) {
        var value = $(this).val();
        filterInput(this.id, value);
        $("label[for=filter-{{ filter.name }}]").html(value);
      });
      {% endif %}

      {% if filter.type == 'checkbox' %}
      $('input[name="filter-{{ filter.name }}"]').on("click", function(e) {
        var checkedList = document.querySelectorAll('input[name="filter-{{ filter.name }}"]:checked');
        var checked = Array.prototype.slice.call(checkedList);

        if (checked.length > 0) {
          var values = checked.map(function(input) {
            return input.value;
          });
          filterInput('filter-{{ filter.name }}', values);
        } else {
          // User has deselected the last checkbox in a filter group.
          e.preventDefault();
          return false;
        }

      });
      {% endif %}
      {% endfor %}

      function filterInput(filterId, value) {
        if (filterId === 'filter-traveltime') {
          otpaLayer.setTimeLimit(value);
        } else if (filterId === 'filter-mode') {
          otpaLayer.setModes(value);
        } else if (filterId === 'filter-students') {
          otpaLayer.addPointsetFilter('students', function(feature) {
            return feature.properties.structured.leerlingen < parseInt(value);
          });
        //} else if (filterId === 'filter-dronkers') {
        } else if (filterId === 'filter-type') {
          otpaLayer.addPointsetFilter('type', function(feature) {
            var filtered = false;
            value.forEach(function(key) {
              filtered |= Boolean(feature.properties.structured['onderwijsstructuur.' + key]);
            });
            return filtered;
          });
        //} else if (filterId === 'filter-eindexamencijfer') {
        }
      }

      function initializeOtpaLayer(position) {
        // // TODO: make sure order of on() and addTo() does not matter
        otpaLayer = L.otpaLayer(endpoint, {
            cutoffMinutes: $("#filter-traveltime").attr("max"),
            isochroneMinutes: $("#filter-traveltime").attr("value"),
            colors: ['{{ site.data.style.1st_color }}', '{{ site.data.style.2nd_color }}', '{{ site.data.style.3rd_color }}'],
            isochroneStep: {{ site.data.filters.first.config.step }},
            pointsetId: pointset,
            pointsetFilterByIsochrones: true,
            location: position,
            routerId: 'amsterdam',
            time: '{{ site.data.otpa.time }}',
            date: '{{ site.data.otpa.date }}',
            bannedRoutes: ['0__generated_0'],
            modes: ['WALK', 'BICYCLE', 'TRANSIT']
          }).on('pointsets', function(e) {

          }).on('change', function(e) {

          }).addTo(map);
      }

      document.body.style.minHeight = document.getElementById("menu").clientHeight + "px";

    </script>
    <svg>
      <defs>
        <pattern id="isochrone-pattern" patternUnits="userSpaceOnUse" x="0" y="0" width="8" height="8">
          <g>
            <path d="M0,0 L8,8"/>
            <!-- <path d="M8,0 L-8,8"/> -->
          </g>
        </pattern>
      </defs>
    </svg>
  </body>
</html>
